@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--shadow-default: 0 0.625rem 1.5rem 0rem rgba(0, 0, 0, 0.1);
		--shadow-sharper: 0px 2px 10px rgba(0, 0, 0, 0.5);
	}

	html {
		@apply font-Rubik text-theme-text-primary;
	}

	.dark {
		--background: var(--neutral-900);
		--background-offset: var(--neutral-800);
		--text: var(--neutral-300);
		--text-important: var(--neutral-50);
		--inactive: var(--neutral-400);
	}
}

@layer utilities {
	.link {
		@apply underline transition-all duration-200 hover:decoration-transparent;
	}
}
